:root{
    --Green:rgb(0,252,52);
    --Black:rgb(0,0,0);
    --White:rgb(255,255,255); 
    --DarkGrey: rgb(25,25,25);
    --BarHeight: 7vw;
}
*{
    margin: 0px;
    border: 0px;
    box-sizing: 0px;
}
@keyframes Sequence{
    0%   {background-color: var(--Green); opacity: 1;}
    25%  {background-color: var(--Green);}
    33%  {background-color: var(--White);}
    58%  {background-color: var(--White);}
    66%  {background-color: var(--Black);}
    92%  {background-color: var(--Black); opacity: 1;}
    100% {background-color: var(--Black); opacity: 0;}
}
@font-face {
    font-family: "Stapel medium";
    font-weight: normal;
    src: url("Utils/Stapel_Condensed\ Medium.otf") format("opentype");
}
@font-face {
    font-family: "Stapel";
    font-weight: normal;
    src: url("Utils/Stapel_Semi\ Expanded\ Medium.otf") format("opentype");
}
body{
    background-color: var(--Black);
    overflow-x: hidden;
}
h2{
    color: var(--White);
    cursor: pointer;
}
#MainArea{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.label{
    position: relative;
    left:20vw;
    width:20vw;
    height: 9vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url("Img/ETICHETTA.png");
    background-repeat: no-repeat;
    background-size: contain;
    color: var(--Green);
    font-size: 4vw;
    font-family: "Stapel medium";   
}
/* ==================================================================================================================== */
#Animation{
    opacity: 0;
    position: fixed;
    top: 0px;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    animation-name: Sequence;
    animation-duration: 4s;
    animation-iteration-count: 1;
    z-index: 9999;
}
/* ==================================================================================================================== */
#MenuBar{
    position: fixed;
    top: - var(--BarHeight);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: var(--BarHeight); 
    width: 100vw; 
    background-color: rgba(20, 20, 20, 0.2);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    z-index: 9000;
}
.MenuItem{
    width: calc(100vw / 7);
    height: var(--BarHeight);
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1vw;
    font-family: "Stapel";
}
.MyCircle{
    width: 6.5vw;
    height: 6vw;
    border: 2px solid aliceblue;
    border-radius: 50%;
}
.MenuLogo{ 
    position: relative;
    width: 5.5vw;
    height: 5vw;
    background-image: url("Img/ICONA LOGO.png");
    background-repeat: no-repeat;
    background-size: contain;
}
/* ==================================================================================================================== */
#StoryDiv{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#StoryFrame{
    display: grid;
    z-index: 20;
}
#StoryLabel{
    grid-column: 1;
    grid-row: 1;
    position: relative;
    left: 31vw;
    color: var(--Green);
    font-size: 5vw;
    font-family: "Stapel medium";   
}
#StoryImg{
    grid-column: 1;
    grid-row: 1;
}
#StoryText{
    grid-column: 1;
    grid-row: 1;
    position: relative;
    left: 13vw;
    top: 40vw;
    width: 73vw;
    color: var(--White); 
    font-size: 2.5vw; 
    font-family: "Stapel medium";
}
#Video{
    position: relative;
    bottom: 0.2vw;
    display: grid;
}
#VideoFrame{
    grid-column: 1;
    grid-row: 1;
    position: relative;
    bottom: 0.5vw;
}
#VideoSource{
    grid-column: 1;
    grid-row: 1;
    position: relative;
    top: 1.5vw;
    left: 23vw;
} 
/* ==================================================================================================================== */
#CharactersDiv{
    display: grid;
}
#CharactersLabel{
    grid-row: 1;
    grid-column: 1;
}
#CharacterFrame{
    grid-row: 1;
    grid-column: 1;
    z-index: 10;
}
#CharacterImg{
    position: relative;
    left: 14vw;
    top: 9vw;
    grid-row: 1;
    grid-column: 1;
    width: 27.5vw;
    height: 35vw;
    background-color: aliceblue;
}
#CharacterStory{
    position: relative;
    top: 9vw;
    left: 42vw;
    grid-row: 1;
    grid-column: 1;
    width: 53vw;
    height: 32vw;
    background-color: red;
}
#CharacterSelector{
    position: relative;
    left: 25vw;
    width: 50vw;
    height: 7vw;
    grid-row: 2;
    grid-column: 1;
    border-radius: 5vw;
    background-color: var(--Green);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.CharacterMiniImg{
    margin: 0.5vw;
    width: 5vw;
    height: 5vw;
    border-radius: 50%;
    background-color: var(--DarkGrey);
    transition: all .5s;

}
.CharacterMiniImg:hover{
    cursor: pointer;
    width: 6vw;
    height: 6vw;
}
.CharacterMiniImgDouble{
    margin: 0.5vw;
    width: 7vw;
    height: 5vw;
    border-radius: 30%;
    background-color: var(--DarkGrey);
    transition: all .5s;
}
.CharacterMiniImgDouble:hover{
    cursor: pointer;
    width: 8vw;
    height: 6vw;
}

/* ==================================================================================================================== */
